<div style="padding-left:4ch; padding-top: 4ch">

    <input type="file" (change)="fileSelected($event)" placeholder="Select log file" accept=".log, .txt">
    <p *ngIf="isParsing" style="color:red">Parsing...</p>

    <br/>
    <br/>

    <div id="instructions" *ngIf="!resultsForPage">
        <h2>How to save a chatlog:</h2>
        <ol>
            <li>Enable chatlogs in game by using the command '/chatlog'</li>
            <ul>
                <li>This causes all text to be output to a file named 'chat.log', which by default is located at 'C:/Documents/Electronic
                    Arts/Dark Age of Camelot</li>
            </ul>
            <li>You can write to a differently named file by using '/chatlog [name]' (Replace [name] with whatever you want to name the file)</li>
            <ul>
                <li>If the file [name].log exists, the game will open the file and append your chatlog to the end of it.</li>
                <li>If the file [name].log doesn't exist, the game will create it for you</li>
            </ul>
            <li>Quitting to character screen, going link-dead, or typing /chatlog again will turn off the logging.</li>
        </ol>
    </div>

    <mat-tab-group (selectedTabChange)="tabChange($event)" *ngIf="resultsForPage">
        <mat-tab label="Combat" [disabled]="!resultsIncludeCombat">
            <mat-accordion multi="true" hideToggle="true">
                <div class="container-fluid">
                    <div class="panel-group">
                        <mat-expansion-panel id="healing-rvr" *ngIf="resultsIncludeRvr">
                            <mat-expansion-panel-header>
                                <h4>Summary</h4>
                            </mat-expansion-panel-header>
                            <div class="row panel-default panel" *ngIf="resultsForPage.Combat.Healing.Delivered || resultsForPage.Combat.Healing.Received || resultsForPage.Combat.Healing.Lifetapped">
                                <div class="col-xs-2" id="healing-summary">
                                    <h4>Healing</h4>
                                    <table style="border-top:1px solid black;">
                                        <tr *ngIf="resultsForPage.Combat.Healing.Delivered">
                                            <td>
                                                <strong>Delivered:</strong>
                                            </td>
                                            <td style="text-align:center">{{resultsForPage.Combat.Healing.Delivered | number}}</td>
                                        </tr>
                                        <tr *ngIf="resultsForPage.Combat.Healing.Received">
                                            <td>
                                                <strong>Received:</strong>
                                            </td>
                                            <td style="text-align:center">{{resultsForPage.Combat.Healing.Received | number}}</td>
                                        </tr>
                                        <tr *ngIf="resultsForPage.Combat.Healing.Lifetapped">
                                            <td>
                                                <strong>Lifetapped:</strong>
                                            </td>
                                            <td style="text-align:center">{{resultsForPage.Combat.Healing.Lifetapped | number}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-xs-3" id="healing-delivered" *ngIf="resultsForPage.Combat.Healing.Targets.length">
                                    <thead>
                                        <strong>Delivered breakdown:</strong>
                                    </thead>
                                    <div class="scrollTable">
                                        <table class="table-striped greenStriped">
                                            <tr>
                                                <th></th>
                                                <th style="text-align:center">Count</th>
                                                <th style="text-align:center">Total</th>
                                                <th style="text-align:center">Max</th>
                                            </tr>
                                            <tr *ngFor="let target of resultsForPage.Combat.Healing.Targets">
                                                <td>
                                                    {{target[0]}}
                                                    <a *ngIf="checkIfNameIsPlayer(target[0])" href="http://herald.uthgard.net/herald.php?view=stats&p1=player&p2=Player&p3=DESC&p5=Player&p6={{target[0]}}"
                                                        target="_blank"> (herald)</a>
                                                </td>
                                                <td style="text-align:center">{{target[1] | number}}</td>
                                                <td style="text-align:center">{{target[2] | number}}</td>
                                                <td style="text-align:center">{{target[3] | number}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-xs-3" id="healing-received" *ngIf="resultsForPage.Combat.Healing.Sources.length">
                                    <thead>
                                        <strong>Received breakdown:</strong>
                                    </thead>
                                    <div class="scrollTable">
                                        <table class="table-striped greenStriped">
                                            <tr>
                                                <th></th>
                                                <th style="text-align:center">Count</th>
                                                <th style="text-align:center">Total</th>
                                                <th style="text-align:center">Max</th>
                                            </tr>
                                            <tr *ngFor="let source of resultsForPage.Combat.Healing.Sources">
                                                <td>
                                                    {{source[0]}}
                                                    <a *ngIf="checkIfNameIsPlayer(source[0])" href="http://herald.uthgard.net/herald.php?view=stats&p1=player&p2=Player&p3=DESC&p5=Player&p6={{source[0]}}"
                                                        target="_blank"> (herald)</a>
                                                </td>
                                                <td style="text-align:center">{{source[1] | number}}</td>
                                                <td style="text-align:center">{{source[2] | number}}</td>
                                                <td style="text-align:center">{{source[3] | number}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row panel-default panel" *ngIf="resultsForPage.Combat.Summary.RPs || resultsForPage.Combat.Summary.Deaths">
                                <div class="col-xs-2" id="rvr-summary">
                                    <h4>RvR</h4>
                                    <table style="border-top:1px solid black;">
                                        <tr>
                                            <td>
                                                <strong>Deaths:</strong>
                                            </td>
                                            <td style="text-align:center">{{resultsForPage.Combat.Summary.Deaths | number}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>RPs:</strong>
                                            </td>
                                            <td style="text-align:center">{{resultsForPage.Combat.Summary.RPs | number}}</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>Deathblows:</strong>
                                            </td>
                                            <td style="text-align:center">{{resultsForPage.Combat.Summary.DeathblowCount | number}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-xs-2" *ngIf="resultsForPage.Combat.Summary.DeathblowCount > 0">
                                    <thead>
                                        <strong>Deathblow list:</strong>
                                    </thead>
                                    <div class="scrollTable" id="deathblow-list" style="max-height:140px">
                                        <table class="table-striped greenStriped">
                                            <tr *ngFor="let db of resultsForPage.Combat.Summary.DeathBlows">
                                                <td>
                                                    {{db[0]}}
                                                    <a *ngIf="checkIfNameIsPlayer(db[0])" href="http://herald.uthgard.net/herald.php?view=stats&p1=player&p2=Player&p3=DESC&p5=Player&p6={{db[0]}}"
                                                        target="_blank"> (herald)</a>
                                                </td>
                                                <td style="text-align:center">{{db[1] | number}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel id="melee-caster-attack">
                            <mat-expansion-panel-header>
                                <h4>Offense</h4>
                            </mat-expansion-panel-header>
                            <div class="row panel-default panel">
                                <h4 class="panel-heading">Melee Attack</h4>
                                <div class="panel-body">
                                    <div class="col-xs-2" id="melee-summary">
                                        <h4>
                                            <strong>Summary:</strong>
                                        </h4>
                                        <table class="table-striped blueStriped">
                                            <tr>
                                                <td></td>
                                                <th style="text-align:center">Count</th>
                                                <th style="text-align:center">Percent</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Hit:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.MeleeAttack.Hits | number}}</td>
                                                <td style="text-align:center">{{resultsForPage.Combat.MeleeAttack.Percents.Hits | percent}}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Blocked:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.MeleeAttack.Blocks | number}}</td>
                                                <td style="text-align:center">{{resultsForPage.Combat.MeleeAttack.Percents.Blocks | percent}}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Parried:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.MeleeAttack.Parries | number}}</td>
                                                <td style="text-align:center">{{resultsForPage.Combat.MeleeAttack.Percents.Parries | percent}}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Evaded:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.MeleeAttack.Evades | number}}</td>
                                                <td style="text-align:center">{{resultsForPage.Combat.MeleeAttack.Percents.Evades | percent}}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Missed:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.MeleeAttack.Misses | number}}</td>
                                                <td style="text-align:center">{{resultsForPage.Combat.MeleeAttack.Percents.Misses | percent}}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Bladeturned:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.MeleeAttack.Bladeturns | number}}</td>
                                                <td style="text-align:center">{{resultsForPage.Combat.MeleeAttack.Percents.Bladeturns | percent}}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Fumbled:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.MeleeAttack.Fumbles | number}}</td>
                                                <td style="text-align:center">{{resultsForPage.Combat.MeleeAttack.Percents.Fumbles | percent}}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Total Attacks:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.MeleeAttack.TotalAttacks | number}}</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Base Dmg:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.MeleeAttack.BaseDamage | number}}</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Dmg Absorbed:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.MeleeAttack.Absorbed | number}}</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Crits:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.MeleeAttack.Crits | number}}</td>
                                                <td style="text-align:center">{{resultsForPage.Combat.MeleeAttack.Percents.Crits | percent}}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Crit Dmg:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.MeleeAttack.CritDamage | number}}</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Procs:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.MeleeAttack.Procs | number}}</td>
                                                <td style="text-align:center">{{resultsForPage.Combat.MeleeAttack.Percents.Procs | percent}}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Proc Dmg:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.MeleeAttack.ProcDamage | number}}</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Total Dmg:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.MeleeAttack.TotalDamage | number}}</td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-xs-6" id="melee-target-breakdown">
                                        <div *ngIf="resultsForPage.Combat.MeleeAttack.Targets.length">
                                            <h4>
                                                <strong>Targets:</strong>
                                            </h4>
                                            <div class="scrollTable" style="max-height:200px">
                                                <table class="table-striped greenStriped">
                                                    <tr>
                                                        <th></th>
                                                        <th style="text-align:center">Hits</th>
                                                        <th style="text-align:center">Blocks</th>
                                                        <th style="text-align:center">Parries</th>
                                                        <th style="text-align:center">Evades</th>
                                                        <th style="text-align:center">Crits</th>
                                                        <th style="text-align:center">Crit Dmg</th>
                                                        <th style="text-align:center">Procs</th>
                                                        <th style="text-align:center">Proc Dmg</th>
                                                        <th style="text-align:center">Min</th>
                                                        <th style="text-align:center">Max</th>
                                                        <th style="text-align:center">Total Dmg</th>
                                                        <th style="text-align:center">Avg</th>
                                                    </tr>
                                                    <tr *ngFor="let dmgTarget of resultsForPage.Combat.MeleeAttack.Targets">
                                                        <td>
                                                            {{dmgTarget[0]}}
                                                            <a *ngIf="checkIfNameIsPlayer(dmgTarget[0])" href="http://herald.uthgard.net/herald.php?view=stats&p1=player&p2=Player&p3=DESC&p5=Player&p6={{dmgTarget[0]}}"
                                                                target="_blank"> (herald)</a>
                                                        </td>
                                                        <td *ngFor="let stat of dmgTarget.slice(1)" style="text-align:center; border-left:1px black solid">
                                                            {{stat | number}}
                                                        </td>
                                                        <td style="text-align:center; border-left:1px black solid">{{dmgTarget[11]/dmgTarget[1] | number:'.0-0'}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <br/>
                                        <div id="melee-weapon-stats" *ngIf="resultsForPage.Combat.MeleeAttack.WeaponStats.length">
                                            <h4>
                                                <strong>Weapon Stats:</strong>
                                            </h4>
                                            <div class="scrollTable">
                                                <table class="table-striped greenStriped">
                                                    <tr>
                                                        <th></th>
                                                        <th style="text-align:center">Count</th>
                                                        <th style="text-align:center">Crits</th>
                                                        <th style="text-align:center">Crit Dmg</th>
                                                        <th style="text-align:center">Procs</th>
                                                        <th style="text-align:center">Proc Dmg</th>
                                                        <th style="text-align:center">Min Dmg</th>
                                                        <th style="text-align:center">Max Dmg</th>
                                                        <th style="text-align:center">Total Dmg</th>
                                                        <th style="text-align:center">Avg</th>

                                                    </tr>
                                                    <tr *ngFor="let style of resultsForPage.Combat.MeleeAttack.WeaponStats">
                                                        <td>{{style[0]}}</td>
                                                        <td *ngFor="let stat of style.slice(1)" style="text-align:center; border-left:1px black solid">
                                                            {{stat | number}}
                                                        </td>
                                                        <td style="text-align:center; border-left:1px black solid">
                                                            {{style[8]/style[1] | number:'.0-0'}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4" id="melee-style-weapon-stats">
                                        <div id="melee-style-stats" *ngIf="resultsForPage.Combat.MeleeAttack.StyleStats.length">
                                            <h4>
                                                <strong>Style Stats:</strong>
                                            </h4>
                                            <table class="table-striped greenStriped">
                                                <tr>
                                                    <th></th>
                                                    <th style="text-align:center">Count</th>
                                                    <th style="text-align:center">Avg GR</th>
                                                    <th style="text-align:center">Min Dmg</th>
                                                    <th style="text-align:center">Max Dmg</th>
                                                    <th style="text-align:center">Total Dmg</th>
                                                    <th style="text-align:center">Avg</th>
                                                </tr>
                                                <tr *ngFor="let style of resultsForPage.Combat.MeleeAttack.StyleStats">
                                                    <td>{{style[0]}}</td>
                                                    <td *ngFor="let stats of style.slice(1)" style="text-align:center; border-left:1px black solid">
                                                        {{stats | number}}
                                                    </td>
                                                    <td style="text-align:center; border-left:1px black solid">{{style[5]/style[1] | number:'.0-0'}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row panel panel-default">
                                <h3 class="panel-heading">Caster Attack</h3>
                                <div class="panel-body">
                                    <div class="col-xs-2" id="caster-summary">
                                        <h4>
                                            <strong>Summary:</strong>
                                        </h4>
                                        <table class="table-striped blueStriped">
                                            <tr>
                                                <th></th>
                                                <th style="text-align:center">
                                                    <strong>Count</strong>
                                                </th>
                                                <th style="text-align:center">
                                                    <strong>Percent</strong>
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Landed:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.CasterAttack.Landed | number}}</td>
                                                <td style="text-align:center">{{resultsForPage.Combat.CasterAttack.Percents.Landed | percent}}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Resisted:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.CasterAttack.Resists | number}}</td>
                                                <td style="text-align:center">{{resultsForPage.Combat.CasterAttack.Percents.Resists | percent}}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Total Attacks:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.CasterAttack.TotalAttacks | number}}</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Base Dmg:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.CasterAttack.BaseDamage | number}}</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Crits:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.CasterAttack.Crits | number}}</td>
                                                <td style="text-align:center">{{resultsForPage.Combat.CasterAttack.Percents.Crits | percent}}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Crit Dmg:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.CasterAttack.CritDamage | number}}</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Total Dmg:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.CasterAttack.TotalDamage | number}}</td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-xs-5" id="caster-damage-breakdown">
                                        <div *ngIf="resultsForPage.Combat.CasterAttack.Targets.length">
                                            <h4>
                                                <strong>Targets:</strong>
                                            </h4>
                                            <div class="scrollTable">
                                                <table class="table-striped greenStriped">
                                                    <tr>
                                                        <th></th>
                                                        <th style="text-align:center">Landed</th>
                                                        <th style="text-align:center">Resisted</th>
                                                        <th style="text-align:center">Crit</th>
                                                        <th style="text-align:center">Crit Dmg</th>
                                                        <th style="text-align:center">Min Dmg</th>
                                                        <th style="text-align:center">Max Dmg</th>
                                                        <th style="text-align:center">Total Dmg</th>
                                                    </tr>
                                                    <tr *ngFor="let dmgTarget of resultsForPage.Combat.CasterAttack.Targets">
                                                        <td>
                                                            {{dmgTarget[0]}}
                                                            <a *ngIf="checkIfNameIsPlayer(dmgTarget[0])" href="http://herald.uthgard.net/herald.php?view=stats&p1=player&p2=Player&p3=DESC&p5=Player&p6={{dmgTarget[0]}}"
                                                                target="_blank"> (herald)</a>
                                                        </td>
                                                        <td *ngFor="let stat of dmgTarget.slice(1)" style="text-align:center; border-left:1px black solid">
                                                            {{stat | number}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-5" id="caster-spell-stats">
                                        <div *ngIf="resultsForPage.Combat.CasterAttack.SpellStats.length > 0">
                                            <h4>
                                                <strong>Spell Stats:</strong>
                                            </h4>
                                            <div class="scrollTable" style="max-height:160px">
                                                <table class="table-striped greenStriped">
                                                    <tr>
                                                        <th></th>
                                                        <th style="text-align:center">Landed</th>
                                                        <th style="text-align:center">Resisted</th>
                                                        <th style="text-align:center">Crit</th>
                                                        <th style="text-align:center">Crit Dmg</th>
                                                        <th style="text-align:center">Min Dmg</th>
                                                        <th style="text-align:center">Max Dmg</th>
                                                        <th style="text-align:center">Total Dmg</th>
                                                    </tr>
                                                    <tr *ngFor="let spell of resultsForPage.Combat.CasterAttack.SpellStats">
                                                        <td>{{spell[0]}}</td>
                                                        <td *ngFor="let stat of spell.slice(1)" style="text-align:center; border-left:1px black solid">
                                                            {{stat | number}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row panel panel-default" *ngIf="resultsForPage.Combat.CasterAttack.TotalAttacks || resultsForPage.Combat.MeleeAttack.TotalAttacks">
                                <h4 class="panel-heading">DPS Graph</h4>
                                <div class="col-md-12 panel-body">
                                    <div style="display:block;">
                                        <canvas baseChart height="60" [datasets]="dpsChartData" [labels]="dpsChartLabels" [options]="dpsChartOptions" [chartType]="'bar'"
                                            [colors]="dpsChartColors" [legend]="dpsLegend"></canvas>
                                    </div>
                                    <!-- <ngx-charts-bar-vertical
                                        [results]="dpsChartData"
                                        [yAxis]="'true'"
                                        [xAxis]="'true'"
                                        [barPadding]="0"
                                        [showXAxisLabel]="'true'">
                                    </ngx-charts-bar-vertical> -->
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <mat-expansion-panel id="defense">
                            <mat-expansion-panel-header>
                                <h4>Defense</h4>
                            </mat-expansion-panel-header>
                            <div class="row panel panel-default">
                                <div class="panel-body">
                                    <div class="col-xs-2" id="defense-summary">
                                        <h4>
                                            <strong>Summary:</strong>
                                        </h4>
                                        <table class="table-striped blueStriped">
                                            <tr>
                                                <th></th>
                                                <th style="text-align: center">
                                                    <strong>Count</strong>
                                                </th>
                                                <th style="text-align: center">
                                                    <strong>Percent</strong>
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Hits:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.Defense.Hits | number}}</td>
                                                <td style="text-align:center">{{resultsForPage.Combat.Defense.Percents.Hits | percent}}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Blocks:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.Defense.Blocks | number}}</td>
                                                <td style="text-align:center">{{resultsForPage.Combat.Defense.Percents.Blocks | percent}}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Parries:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.Defense.Parries | number}}</td>
                                                <td style="text-align:center">{{resultsForPage.Combat.Defense.Percents.Parries | percent}}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Evades:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.Defense.Evades | number}}</td>
                                                <td style="text-align:center">{{resultsForPage.Combat.Defense.Percents.Evades | percent}}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Misses:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.Defense.Misses | number}}</td>
                                                <td style="text-align:center">{{resultsForPage.Combat.Defense.Percents.Misses | percent}}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Tot Melee Attacks:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.Defense.TotalMeleeAttacks | number}}</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Crits:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.Defense.Crits | number}}</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Crit Dmg:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.Defense.CritDamage | number}}</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Melee Dmg:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.Defense.MeleeDamage | number}}</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Dmg Absorbed:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.Defense.Absorbed | number}}</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Spells/Procs:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.Defense.SpellsLanded | number}}</td>
                                                <td style="text-align:center">{{resultsForPage.Combat.Defense.Percents.SpellsLanded | percent}}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Resists:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.Defense.Resists | number}}</td>
                                                <td style="text-align:center">{{resultsForPage.Combat.Defense.Percents.Resists | percent}}</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Tot Magic Attacks:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.Defense.TotalSpellAttacks | number}}</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Spell Dmg:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.Defense.SpellDamage | number}}</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>Total Dmg:</strong>
                                                </td>
                                                <td style="text-align:center">{{resultsForPage.Combat.Defense.TotalDamage | number}}</td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-xs-5" id="defense-damage-breakdown">
                                        <div *ngIf="resultsForPage.Combat.Defense.Sources.length">
                                            <h4>
                                                <strong>Damage Sources:</strong>
                                            </h4>
                                            <div class="scrollTable" style="max-height:320px">
                                                <table class="table-striped greenStriped">
                                                    <tr>
                                                        <th></th>
                                                        <th style="text-align:center">Attacks</th>
                                                        <th style="text-align:center">Hits</th>
                                                        <th style="text-align:center">Blocks</th>
                                                        <th style="text-align:center">Parries</th>
                                                        <th style="text-align:center">Evades</th>
                                                        <th style="text-align:center">Misses</th>
                                                        <th style="text-align:center">Crits</th>
                                                        <th style="text-align:center">Damage</th>
                                                    </tr>
                                                    <tr *ngFor="let dmgSource of resultsForPage.Combat.Defense.Sources">
                                                        <td>
                                                            {{dmgSource[0]}}
                                                            <a *ngIf="checkIfNameIsPlayer(dmgSource[0])" href="http://herald.uthgard.net/herald.php?view=stats&p1=player&p2=Player&p3=DESC&p5=Player&p6={{dmgSource[0]}}"
                                                                target="_blank"> (herald)</a>
                                                        </td>

                                                        <td *ngFor="let stat of dmgSource.slice(1)" style="text-align:center; border-left:1px black solid">
                                                            {{stat | number}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2" id="defense-armor-hits">
                                        <div *ngIf="resultsForPage.Combat.Defense.Hits > 0">
                                            <h4>
                                                <strong>Armor Hits:</strong>
                                            </h4>
                                            <table class="table-striped greenStriped">
                                                <tr>
                                                    <th></th>
                                                    <th style="text-align:center">Hits</th>
                                                    <th style="text-align:center">Percent</th>
                                                    <th style="text-align:center">Damage</th>
                                                </tr>
                                                <tr *ngFor="let armor of resultsForPage.Combat.Defense.ArmorHits">
                                                    <td>{{armor[0]}}</td>
                                                    <td style="text-align:center">{{armor[1] | number}}</td>
                                                    <td style="text-align:center">{{(armor[1]/resultsForPage.Combat.Defense.Hits) | percent:'.0-2'}}</td>
                                                    <td style="text-align:center">{{armor[2] | number}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-expansion-panel>
                        <div id="errors" class="col-xs-4 row panel-default panel" *ngIf="errorMessageList.length > 0">
                            <h3 class="panel-heading">Parsing Errors</h3>
                            <div class="panel-body">
                                <ul>
                                    <li *ngFor="let todo of errorMessageList">{{todo}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="example-container mat-elevation-z8">
                    <mat-table #table [dataSource]="matTableTest">
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef></mat-header-cell>
                            <mat-cell *matCellDef="let target">{{target[0]}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="hits">
                            <mat-header-cell *matHeaderCellDef>Hits</mat-header-cell>
                            <mat-cell *matCellDef="let target">{{target[1]}}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="blocks">
                            <mat-header-cell *matHeaderCellDef>Blocks</mat-header-cell>
                            <mat-cell *matCellDef="let target">{{target[2]}}</mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div> -->
                <!-- <div class="example-container mat-elevation-z8">
                    <mat-table #table [dataSource]="matTableTest">
                        <ng-container matColumnDef="{{header}}" *ngFor="let header of displayedColumns; let i = index">
                            <mat-header-cell *matHeaderCellDef>{{header}}</mat-header-cell>
                            <mat-cell *matCellDef="let target">{{target[i] | number}}</mat-cell>
                        </ng-container>


                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                </div> -->
            </mat-accordion>
        </mat-tab>
        <mat-tab label="Money & Loot" [disabled]="(resultsForPage.PvE.Drops.length == 0 && !resultsIncludeMoney)">
            <div class="row" *ngIf="resultsIncludeMoney">
                <div class="col-xs-2" id="money-summary">
                    <h4>Money</h4>
                    <table style="border-top:1px solid black;">
                        <tr *ngIf="currencyPrintHelper(resultsForPage.PvE.Monies.Loot) != ''">
                            <td>
                                <strong>Looted:</strong>
                            </td>
                            <td style="text-align:center">{{currencyPrintHelper(resultsForPage.PvE.Monies.Loot)}}</td>
                        </tr>
                        <tr *ngIf="currencyPrintHelper(resultsForPage.PvE.Monies.Expense) != ''">
                            <td>
                                <strong>Expenses:</strong>
                            </td>
                            <td style="text-align:center">{{currencyPrintHelper(resultsForPage.PvE.Monies.Expense)}}</td>
                        </tr>
                        <tr *ngIf="currencyPrintHelper(resultsForPage.PvE.Monies.Income) != ''">
                            <td>
                                <strong>Income:</strong>
                            </td>
                            <td style="text-align:center">{{currencyPrintHelper(resultsForPage.PvE.Monies.Income)}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row">
                <div class="container-fluid">
                    <div class="col-sm-3 panel-default panel" *ngFor="let mobs of resultsForPage.PvE.Drops">
                        <h4 class="panel-header">{{mobs[0]}} (Kills: {{mobs[1]}})</h4>
                        <table class="table-striped bluestriped panel-body">
                            <tr>
                                <th>Item</th>
                                <th style="text-align: center">Count</th>
                                <th style="text-align: center">Rate</th>
                            </tr>
                            <tr *ngFor="let drop of mobs[2]">
                                <td>{{drop[0]}}</td>
                                <td style="text-align: center">{{drop[1]}}</td>
                                <td style="text-align: center">{{drop[1]/mobs[1] | percent:'.0-0'}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </mat-tab>
        <!-- <mat-tab label="Log File">
            <textarea class="panel panel-default" readonly="true" style="width:100%; height:700px">
                {{fileText}}
            </textarea>
        </mat-tab> -->
        <mat-tab label="XP" [disabled]="resultsForPage.PvE.XP.length == 0">
            <!-- <ngx-charts-area-chart-stacked
                [results]="xpChartData" 
                [yAxis]="'true'"
                [xAxis]="'true'"
                [legend]="'true'"
                [scheme]="xpChartColors">
            </ngx-charts-area-chart-stacked> -->
            <ngx-charts-bar-vertical-stacked
                [results]="xpChartData" 
                [yAxis]="'true'"
                [xAxis]="xpShowXAxis"
                [legend]="'true'"
                [scheme]="xpChartColors"
                [barPadding]="1">
            </ngx-charts-bar-vertical-stacked>
        </mat-tab>
        <mat-tab label="Crafting" [disabled]="resultsForPage.Crafting.Series.length == 0">
            <ngx-charts-bar-vertical-2d 
                [results]="craftingChartData" 
                [legend]="'true'"
                [legendTitle]="'Items'"
                [yAxis]="'true'"
                [xAxis]="'true'"
                [groupPadding]="12"
                [barPadding]="1"
                [showXAxisLabel]="'true'">
            </ngx-charts-bar-vertical-2d>
        </mat-tab>
    </mat-tab-group>

</div>