/* You can add global styles to this file, and also import other style files */

table.scrollTable th {
    width:100%;
}

table.scrollTable td {
    width:100%;
}

table {
    width:100%;
}

table.blueStriped {
    background-color: lightblue;
}

table.greenStriped {
    background-color: lightgreen;
}


.scrollTable {
    display: block;
    overflow-y: auto;
    max-height:160px;
    min-height:20px;
}

a {
    font-size:6pt;
}